.layout-container{
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #dcffd9, #ffffff, #d6f8cc, #ffffff);
}

.backgroud-pag {
  margin-top: -2em;
  margin-bottom: -2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.button-effect {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button-effect:hover {
  opacity: .5;
}

.button-effect:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
